/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  background: #062135;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header img {
  width: 33%;
  display: flex;
  padding-left: 30px;
}
header .team-link {
  width: 33%;
  display: flex;
  justify-content: center;
}
header .team-link a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
}
header .login-links {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
header .login-links a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding-left: 20px;
}
.main-hero-text {
  height: 600px;
  background-color: #062135;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-hero-text h1 {
  color: white;
  font-size: 4rem;
  padding-bottom: 20px;
}
.main-hero-text p {
  color: white;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.main-hero-text button {
  margin-top: 30px;
  height: 50px;
  width: 100px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container .features-text {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .features-text h2 {
  font-size: 4rem;
  color: #062135;
  padding-bottom: 20px;
}
.container .features-text p {
  color: gray;
  font-size: 1.2rem;
}
