/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Helvetica", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
@media (max-width: 800px) {
  body {
    width: 800px;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  body {
    width: 500px;
    justify-content: center;
  }
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
header {
  background: #062135;
  height: 80px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
header .image-container {
  width: 33%;
}
header .image-container .logo {
  padding-left: 30px;
}
@media (max-width: 500px) {
  header .image-container .logo {
    display: none;
  }
}
header .image-container p {
  display: none;
}
@media (max-width: 500px) {
  header .image-container p {
    display: flex;
    font-size: 2.5rem;
    color: white;
    padding-left: 30px;
  }
}
header .nav-link {
  width: 33%;
  display: flex;
  justify-content: center;
}
header .nav-link a {
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
}
header .nav-link a:hover {
  color: lightgray;
}
header .login-links {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}
header .login-links a {
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin-right: 30px;
}
header .login-links a:hover {
  background-color: white;
  color: #062135;
  border: 1px solid #062135;
}
.main-hero-text {
  height: 700px;
  background-color: #062135;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23386fa4' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2384d2f6' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%233e7aae' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2385d6f6' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%234584b9' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2387daf6' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%234b8fc3' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%238adef6' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23529ace' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238de1f6' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2359a5d8' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%2391e5f6' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 800px) {
  .main-hero-text {
    background-image: none;
    align-items: center;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .main-hero-text {
    background-image: none;
    align-items: center;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.main-hero-text h1 {
  color: white;
  font-size: 6rem;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .main-hero-text h1 {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 800px) {
  .main-hero-text h1 {
    margin-left: 5%;
    margin-right: 5%;
  }
}
.main-hero-text p {
  color: white;
  font-size: 1.8rem;
  padding-bottom: 10px;
}
@media (max-width: 800px) {
  .main-hero-text p {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 500px) {
  .main-hero-text p {
    width: 80%;
    font-size: 1.8rem;
  }
}
.main-hero-text button {
  margin-top: 30px;
  height: 50px;
  width: 140px;
  margin-bottom: 200px;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: #04b169;
  color: white;
}
@media (max-width: 800px) {
  .main-hero-text button {
    margin-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .main-hero-text button {
    margin-bottom: 0px;
  }
}
.main-hero-text button:hover {
  background-color: #01995a;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.container .features-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 800px) {
  .container .features-title {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 500px) {
  .container .features-title {
    margin-left: 5%;
    margin-right: 5%;
  }
}
.container .features-title h2 {
  font-size: 5rem;
  color: #062135;
  padding-bottom: 20px;
}
.container .features-title p {
  color: gray;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .container .features-title p {
    padding-bottom: 30px;
    font-size: 1.8rem;
  }
}
.container .features-section {
  display: flex;
}
@media (max-width: 800px) {
  .container .features-section {
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column-reverse;
    padding-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .container .features-section {
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column-reverse;
    padding-bottom: 0px;
  }
}
.container .features-section article {
  margin-left: 5%;
  flex-direction: column;
  width: 45%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .container .features-section article {
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
}
@media (max-width: 500px) {
  .container .features-section article {
    width: 90%;
    height: 1200px;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.container .features-section article section {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .container .features-section article section {
    flex-direction: column;
  }
}
.container .features-section article section img.feature-icon {
  width: 100px;
  margin-right: 20px;
}
@media (max-width: 500px) {
  .container .features-section article section img.feature-icon {
    width: 50%;
    margin-right: 0px;
    padding-bottom: 20px;
  }
}
.container .features-section article section .feature-text {
  display: flex;
  flex-direction: column;
}
.container .features-section article section .feature-text h3 {
  font-size: 2.5rem;
  color: #062135;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .container .features-section article section .feature-text h3 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 4rem;
  }
}
.container .features-section article section .feature-text p {
  font-size: 1.6rem;
  color: grey;
  line-height: 1.6;
}
@media (max-width: 500px) {
  .container .features-section article section .feature-text p {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.8rem;
  }
}
.container .features-section aside {
  margin-right: 5%;
  align-items: center;
  flex-direction: column;
  width: 45%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .container .features-section aside {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 60px;
  }
}
@media (max-width: 500px) {
  .container .features-section aside {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 60px;
  }
}
.container .features-section aside .image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 4rem;
}
.container .features-section aside .image-slider img {
  width: 100%;
  padding-bottom: 30px;
  display: none;
  opacity: 0;
}
.container .features-section aside .image-slider .left-button,
.container .features-section aside .image-slider .right-button {
  color: #04b169;
  cursor: pointer;
}
.container .features-section aside .image-slider .left-button:hover,
.container .features-section aside .image-slider .right-button:hover {
  color: #01995a;
}
.container .features-section aside .image-slider .left-button {
  margin-right: 30px;
}
.container .features-section aside .image-slider .right-button {
  margin-left: 30px;
}
.container .features-section aside .image-slider .slider-icon {
  color: lightgray;
}
.call-to-action {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  text-align: center;
}
.call-to-action h2 {
  font-size: 5rem;
  color: #062135;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .call-to-action h2 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.call-to-action p {
  color: gray;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .call-to-action p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.8rem;
  }
}
.call-to-action button {
  margin-top: 30px;
  height: 50px;
  width: 140px;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: #04b169;
  color: white;
}
.call-to-action button:hover {
  background-color: #01995a;
}
footer {
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #062135;
}
footer .footer-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  footer .footer-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
footer .footer-container img.logo {
  cursor: pointer;
}
footer .footer-container nav a {
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
}
footer .footer-container a:hover {
  color: lightgray;
}
footer p {
  color: white;
  font-size: 1.5rem;
}
.container.team .title-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container.team .title-text h1 {
  color: #062135;
  font-size: 5rem;
  padding-top: 50px;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .container.team .title-text h1 {
    padding-bottom: 20px;
  }
}
.container.team .title-text p {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  color: gray;
  font-size: 2rem;
  padding-bottom: 20px;
  text-align: center;
}
.container.team .tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}
.container.team .filter-label {
  font-size: 1.75rem;
  padding-right: 10px;
}
@media (max-width: 800px) {
  .container.team .filter-label {
    display: none;
  }
}
.container.team .roles {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.75rem;
  color: #062135;
}
@media (max-width: 800px) {
  .container.team .roles {
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    width: 90%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .container.team .roles {
    display: none;
  }
}
.container.team .roles .tab {
  border: 1px #062135 solid;
  margin: 5px;
  height: 40px;
  align-items: center;
  width: 150px;
  display: flex;
  justify-content: center;
  font-weight: 300;
  cursor: pointer;
}
.container.team .roles .tab:hover {
  text-decoration: underline;
}
.container.team .roles .active-tab {
  background-color: #062135;
  color: white;
  border: 2px #062135 solid;
}
.container.team article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container.team article section {
  align-items: center;
  flex-direction: column;
  width: 33%;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
@media (max-width: 800px) {
  .container.team article section {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .container.team article section {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.container.team article section img.team-member {
  height: 250px;
  padding-bottom: 20px;
}
.container.team article section h2 {
  font-size: 3.5rem;
  color: #062135;
  padding-bottom: 20px;
}
.container.team article section p {
  font-size: 2rem;
  color: grey;
  padding-bottom: 20px;
}
.container.team article section .social-links {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container.team article section .social-links img.github-icon {
  height: 40px;
  padding-right: 20px;
  cursor: pointer;
}
.container.team article section .social-links img.github-icon:hover {
  opacity: 0.5;
}
.container.team article section .social-links img.linkedin-icon {
  height: 40px;
  cursor: pointer;
}
.container.team article section .social-links img.linkedin-icon:hover {
  opacity: 0.5;
}
.nav-link-a {
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
}
.flex-centered {
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}
.top-bottom-spacing {
  padding-top: 60px;
  padding-bottom: 60px;
}
.left-right-spacing {
  margin-left: 5%;
  margin-right: 5%;
}
