.nav-link-a {
    text-decoration: none;
    font-size: 2.5rem;
    color: @nav-click-elements;
}

.width-flex(@wid, @jc) {
    width: @wid;
    display:flex;
    justify-content: @jc;
}

.flex-centered {
    align-items: center;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.top-bottom-spacing {
    padding-top: @global-spacing;
    padding-bottom: @global-spacing;
}

.left-right-spacing {
    margin-left: @global-margin;
    margin-right: @global-margin;
}