.container.team {
    .title-text {
        .align-center;
        flex-direction: column;

        h1 {
            color: @expat-journal-primary;
            font-size: 5rem;
            padding-top: 50px;
            padding-bottom: @small-padding;

            @media @mobile {
                padding-bottom: @small-padding;
            }
        }

        p {
            width: 90%;
            padding-left: @global-margin;
            padding-right: @global-margin;
            color: @expat-journal-secondary;
            font-size: 2rem;
            padding-bottom: @small-padding;
            text-align: center;
        }
    }

    .tabs {
        display: flex;
        .flex-centered;
        padding-bottom: @global-spacing;
    }

    .filter-label {
        font-size: 1.75rem;
        padding-right: 10px;
        
        @media @tablet {
            display: none;
        }
    }

    .roles {
        .align-center;
        justify-content: space-evenly;
        font-size: 1.75rem;
        color: @expat-journal-primary;

        @media @tablet {
            .left-right-spacing;
            flex-wrap: wrap;
            .width-flex(90%, center);
        }

        @media @mobile {
            display: none;
        }

        .tab {
            border: 1px solid @expat-journal-primary;
            margin: 5px;
            height: 40px;
            .align-center;
            .width-flex(150px, center);
            font-weight: 300;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }

        .active-tab {
            background-color: @expat-journal-primary;
            color: @expat-journal-white;
            border: 2px solid @expat-journal-primary;
        }
    }

    article {
        display: flex;
        flex-wrap: wrap;
        .flex-centered;
    
        section {
            .align-center;
            flex-direction: column;
            .width-flex(33%, center);
            padding-bottom: @global-spacing;

            @media @tablet {
                width: 50%;
            }

            @media @mobile {
                width: 90%;
                .left-right-spacing;
            }

            img.team-member {
                height: 250px;
                padding-bottom: @small-padding;
            }

            h2 {
                font-size: 3.5rem;
                color: @expat-journal-primary;
                padding-bottom: @small-padding;
            }

            p {
                font-size: 2rem;
                color: @expat-journal-secondary;
                padding-bottom: @small-padding;
            }

            .social-links {
                display: flex;
                .width-flex(100%, center);

                img.github-icon {
                    height: 40px;
                    padding-right: @small-padding;
                    cursor: pointer;
                }

                img.github-icon:hover {
                    opacity: 0.5;
                }

                img.linkedin-icon {
                    height: 40px;
                    cursor: pointer;
                }

                img.linkedin-icon:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}