.container.team {
    
    .title-text {
        display: flex;
        justify-content: center;

        h1 {
            color: #062135;
            font-size: 4rem;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        // height: 1000px;
    
        section {
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 60px;

            @media @mobile {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
            }

            img.team-member {
                height: 250px;
                padding-bottom: 20px;
            }

            h2 {
                font-size: 1.75rem;
                color: #062135;
                padding-bottom: 20px;
            }

            p {
                font-size: 1.2rem;
                color: grey;
                padding-bottom: 20px;
            }

            .social-links {
                display: flex;
                width: 100%;
                justify-content: center;


                img.github-icon {
                    height: 40px;
                    padding-right: 20px;
                }

                img.linkedin-icon {
                    height: 40px;
                }
            }
        }
    }
}